<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión con Local Storage</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div v-if="!usuarioLogueado" class="form-login">
            <h5>Iniciar Sesión</h5>
            <form @submit.prevent="iniciarSesion">
                <div class="controls">
                    <label for="correo">Correo Electrónico:</label>
                    <input type="email" id="correo" v-model="usuario.correo" required>
                </div>
                <div class="controls">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" v-model="usuario.contraseña" required>
                </div>
                <button class="buttons" type="submit">Iniciar Sesión</button>
            </form>
            <p v-if="mensaje">{{ mensaje }}</p>
        </div>
        <div v-else class="content-container">
            <p>Bienvenido, {{ usuarioLogueado }}</p>

            <table class="demo">
                <caption>Tabla de registros</caption>
                <thead>
                    <tr>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Compañía</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in usuarios">
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td>{{ usuario.compania }}</td>
                        <td>{{ usuario.direccion }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="button" @click="cerrarSesion">Cerrar sesión</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                usuario: {
                    correo: '',
                    contraseña: ''
                },
                mensaje: '',
                usuarioLogueado: null,
                usuarios: []
            },
            created() {
                fetch('usuarios.json')
                    .then(response => response.json())
                    .then(data => {
                        this.usuarios = data.usuarios.map(usuario => ({
                            correo: usuario.correo,
                            contraseña: usuario.contraseña,
                            telefono: usuario.telefono,
                            compania: usuario.compania,
                            direccion: usuario.direccion
                        }));
                    })
                    .catch(error => console.error('Error al cargar usuarios:', error));

                const usuarioGuardado = localStorage.getItem('usuario');
                if (usuarioGuardado) {
                    this.usuarioLogueado = usuarioGuardado;
                }
            },
            methods: {
                iniciarSesion() {
                    const usuarioEncontrado = this.usuarios.find(user =>
                        user.correo === this.usuario.correo && user.contraseña === this.usuario.contraseña
                    );

                    if (usuarioEncontrado) {
                        this.mensaje = 'Inicio de sesión exitoso';
                        localStorage.setItem('usuario', usuarioEncontrado.correo);
                        this.usuarioLogueado = usuarioEncontrado.correo;
                        this.usuario = { correo: '', contraseña: '' };
                    } else {
                        this.mensaje = 'Credenciales incorrectas';
                    }
                },
                cerrarSesion() {
                    localStorage.removeItem('usuario');
                    this.usuarioLogueado = null;
                    this.usuario = { correo: '', contraseña: '' };
                    this.mensaje = '';
                }
            }
        });
    </script>
</body>

</html>